.card-item{
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 5px #0000002b;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.btn-custom{
    width: 5rem;
}

.card-item > img {
    width: 100%;
}

.container-card-data {
    float: left;
    width: 100%;
    padding: 10px;
}

.container-card-data h2 {
    font-size: 19px;
    letter-spacing: 2px;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 10px;
}

.container-card-data p {
    font-size: 14px;
    font-weight: 300;
}

.container-cards .card-item:nth-of-type(1) {
    margin-left: 0px;
}

.card-item img {
    width: 100%;
}

.card-item__img {
    height: 200px;
    overflow: hidden;
}

.container-cards .card-item:nth-of-type(3n + 1) {
    margin-left: 0px;
}

.card-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
}