ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(120deg, #C5ACF7, white, #C5ACF7);
  margin: 0;
  list-style: none;
}

li{
  font-size: 1rem;
  text-transform: uppercase;
}

.logo{
  width: 70px;
  height: 70px;
  padding: 1rem;
}
