.seguinos{
    grid-area: seguinos;
}

.contacto{
    grid-area: contacto;
    padding: 1.5rem;
}

.links{
    grid-area: links;
    padding: 1.5rem;
}

footer{
    display: grid;
    grid-gap: 1rem;
    background-color: blueviolet;
    color: white;
    width: 100%;
    grid-template-areas: 
    'links contacto seguinos';
    grid-template-columns: 3fr 3fr 3fr;
}

.lista{
    list-style: none;
    display: block;
    background: none;
}

.contactoTitulo{
    padding-bottom: 10px;
    font-weight: 800;
}

.link{
    padding-bottom: 10px;
}

.link:hover{
    font-weight: 800;
}

.firma{
    text-align: center;
}
.seguinos h5{
    font-size: 1rem;
    text-transform: uppercase;
}